html, body, .background, .overlay {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
    font-family: 'GreycliffCFBold';
    src: url('https://raw.githubusercontent.com/lonelil/lonelil.github.io/main/fonts/GreycliffCFBold.ttf');
}

body {
  font-family: 'GreycliffCFBold', sans-serif;
  display: flex;
  align-items: center;
}

span[data-tooltip] {
  border-bottom: 0;
}

.background, .overlay {
  position: absolute;
  display: flex;
}

.background img {
  object-fit: cover;
}
